aiohappyeyeballs
aiohttp
aiosignal
arrow
asgiref
attrs
autobahn
Automat
backoff
certifi
cffi
channels
charset-normalizer
colorama
constantly
contourpy
cryptography
cycler
daphne
defusedxml
Django==4.2
django-admin-soft-dashboard
django-allauth
django-axes
django-cors-headers
django-filter
django-formtools
django-ipware
django-otp
django-phonenumber-field
django-two-factor-auth
djangorestframework
fonttools
frozenlist
geographiclib
geopy
gunicorn
hyperlink
idna
incremental
joblib
kiwisolver
matplotlib
multidict
narwhals
numpy
oauthlib
opencage
packaging
pandas
phonenumbers
pillow
plotly
propcache
pyasn1
pyasn1_modules
pycparser
PyJWT
pyOpenSSL
pyparsing
pypng
python-dateutil
python-dotenv
python3-openid
pytz
qrcode
requests
requests-oauthlib
service-identity
six
social-auth-app-django
social-auth-core
sqlparse
tqdm
Twisted
txaio
types-python-dateutil
typing_extensions
tzdata
Unidecode
urllib3
whitenoise
yarl
zope.interface

