# Core
django==4.2
python-dotenv
djangorestframework
# UI 
django-admin-soft-dashboard==1.0.12
# Deployment
whitenoise
gunicorn

# Utilities
daphne 
requests
channels 
django-filter
django-cors-headers
django-allauth
django-axes
django-otp
django-two-factor-auth
social-auth-app-django
geopy
arrow
opencage
mysqlclient
pytz
unidecode
phonenumbers
str2bool
uvicorn
